In [1]:
import pandas as pd

dfr = pd.read_csv('D:/000/00DATA/sample001.csv')
print(dfr)
dfr.describe()
dfr.groupby(dfr['gn']).describe(percentiles=[])

   nm   gn ad     ht    wt
0  Km    F  Y  150.0  50.0
1  Le    F  Y  160.0  60.0
2  Pk    F  N    NaN  65.0
3  Ch    F  N  170.0  55.0
4  Jg  NaN  N  160.0   NaN
5  Kg    M  Y  165.0  65.0
6  Jo    M  Y  175.0  70.0
7  Yn    M  Y    NaN  75.0
8  Jn    M  N  185.0  75.0
9  Lm  NaN  N  175.0   NaN

      ht                                      wt                               \
   count   mean   std    min    50%    max count   mean       std   min   50%
gn
F    3.0  160.0  10.0  150.0  160.0  170.0   4.0  57.50  6.454972  50.0  57.5
M    3.0  175.0  10.0  165.0  175.0  185.0   4.0  71.25  4.787136  65.0  72.5


     max
gn
F   65.0
M   75.0

In [5]:
from sklearn import preprocessing
x = preprocessing.StandardScaler().fit(dfr[['ht','wt']])

In [8]:
x.transform(dfr[['ht','wt']])

array([[-1.69774938, -1.70020892],
       [-0.72760688, -0.51745489],
       [        nan,  0.07392213],
       [ 0.24253563, -1.10883191],
       [-0.72760688,         nan],
       [-0.24253563,  0.07392213],
       [ 0.72760688,  0.66529914],
       [        nan,  1.25667616],
       [ 1.69774938,  1.25667616],
       [ 0.72760688,         nan]])