In [12]:
import pandas as pd

dfr = pd.read_csv('D:/000/00DATA/sample001.csv')
print(dfr)
dfr.describe()

   nm   gn ad     ht    wt
0  Km    F  Y  150.0  50.0
1  Le    F  Y  160.0  60.0
2  Pk    F  N    NaN  65.0
3  Ch    F  N  170.0  55.0
4  Jg  NaN  N  160.0   NaN
5  Kg    M  Y  165.0  65.0
6  Jo    M  Y  175.0  70.0
7  Yn    M  Y    NaN  75.0
8  Jn    M  N  185.0  75.0
9  Lm  NaN  N  175.0   NaN

               ht         wt
count    8.000000   8.000000
mean   167.500000  64.375000
std     11.019463   9.038608
min    150.000000  50.000000
25%    160.000000  58.750000
50%    167.500000  65.000000
75%    175.000000  71.250000
max    185.000000  75.000000

In [ ]:
dfr.groupby(dfr['gn']).describe(percentiles=[])

In [5]:
from sklearn import preprocessing
x = preprocessing.StandardScaler().fit(dfr[['ht','wt']])

In [8]:
x.transform(dfr[['ht','wt']])

array([[-1.69774938, -1.70020892],
       [-0.72760688, -0.51745489],
       [        nan,  0.07392213],
       [ 0.24253563, -1.10883191],
       [-0.72760688,         nan],
       [-0.24253563,  0.07392213],
       [ 0.72760688,  0.66529914],
       [        nan,  1.25667616],
       [ 1.69774938,  1.25667616],
       [ 0.72760688,         nan]])

In [9]:
from scipy import stats
stats.describe(dfr['ht'])

DescribeResult(nobs=10, minmax=(nan, nan), mean=nan, variance=nan, skewness=nan, kurtosis=nan)

In [11]:
stats.describe(dfr['ht'], nan_policy='omit')

DescribeResult(nobs=8, minmax=(masked_array(data=150.,
             mask=False,
       fill_value=1e+20), masked_array(data=185.,
             mask=False,
       fill_value=1e+20)), mean=167.5, variance=121.42857142857143, skewness=masked_array(data=0.,
             mask=False,
       fill_value=1e+20), kurtosis=-0.7820069204152249)

In [13]:
dfr['ht'].std()  # DataFrame.std(), not scipy

11.019463300386795

In [14]:
dfr['ht'].std(ddof=1)

11.019463300386795

In [17]:
import numpy as np
np.sqrt(121.42857142857143)

11.019463300386795

In [18]:
np.std(dfr['ht'])

10.307764064044152

In [19]:
np.std(dfr['ht'], ddof=1)

11.019463300386795

In [22]:
dfr['ht'].std()

11.019463300386795