# Descriptive Statistics (numpy array case)

In [4]:
from sklearn import datasets
iris = datasets.load_iris()

from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
Xtr, Xts, ytr, yts = train_test_split(iris.data, iris.target, 
   test_size=0.4, random_state=0)
scaler = preprocessing.StandardScaler().fit(Xtr)
Ztr = scaler.transform(Xtr)
clf = svm.SVC(C=1).fit(Ztr, ytr)
Zts = scaler.transform(Xts)
clf.score(Zts, yts)

0.9333333333333333

In [7]:
from scipy import stats
stats.describe(Xtr)

DescribeResult(nobs=90, minmax=(array([4.3, 2.2, 1.1, 0.1]), array([7.9, 4.4, 6.9, 2.5])), mean=array([5.83888889, 3.09777778, 3.65111111, 1.15444444]), variance=array([0.79184145, 0.18269164, 3.49466167, 0.64475531]), skewness=array([ 0.39578096,  0.35138088, -0.07530468,  0.00741776]), kurtosis=array([-0.65861136,  0.28693504, -1.51437459, -1.49203682]))

In [8]:
stats.describe(Ztr)

DescribeResult(nobs=90, minmax=(array([-1.73905934, -2.11220356, -1.37231262, -1.32054283]), array([2.32920943, 3.06374081, 1.74766642, 1.68511841])), mean=array([ 3.89811640e-16, -4.34837351e-16, -7.64820306e-16, -4.63826508e-16]), variance=array([1.01123596, 1.01123596, 1.01123596, 1.01123596]), skewness=array([ 0.39578096,  0.35138088, -0.07530468,  0.00741776]), kurtosis=array([-0.65861136,  0.28693504, -1.51437459, -1.49203682]))

In [18]:
import pandas as pd

dfr = pd.read_csv('D:/000/00DATA/sample001.csv')
print(dfr)

   nm   gn ad     ht    wt
0  Km    F  Y  150.0  50.0
1  Le    F  Y  160.0  60.0
2  Pk    F  N    NaN  65.0
3  Ch    F  N  170.0  55.0
4  Jg  NaN  N  160.0   NaN
5  Kg    M  Y  165.0  65.0
6  Jo    M  Y  175.0  70.0
7  Yn    M  Y    NaN  75.0
8  Jn    M  N  185.0  75.0
9  Lm  NaN  N  175.0   NaN

In [19]:
dfr.describe()

               ht         wt
count    8.000000   8.000000
mean   167.500000  64.375000
std     11.019463   9.038608
min    150.000000  50.000000
25%    160.000000  58.750000
50%    167.500000  65.000000
75%    175.000000  71.250000
max    185.000000  75.000000

In [20]:
dfr['ht'].groupby(dfr['gn']).describe()

    count   mean   std    min    25%    50%    75%    max
gn
F     3.0  160.0  10.0  150.0  155.0  160.0  165.0  170.0
M     3.0  175.0  10.0  165.0  170.0  175.0  180.0  185.0

In [21]:
dfr.groupby(dfr['gn']).describe(percentiles=[]) #dfr.groupby(dfr['gn']).describe() : 25,50,75% percentiles

      ht                                                    wt         \
   count   mean   std    min    25%    50%    75%    max count   mean
gn
F    3.0  160.0  10.0  150.0  155.0  160.0  165.0  170.0   4.0  57.50
M    3.0  175.0  10.0  165.0  170.0  175.0  180.0  185.0   4.0  71.25


         std   min    25%   50%    75%   max
gn
F   6.454972  50.0  53.75  57.5  61.25  65.0
M   4.787136  65.0  68.75  72.5  75.00  75.0

In [22]:
dfr.isnull().sum()

nm    0
gn    2
ad    0
ht    2
wt    2
dtype: int64

In [27]:
dfr.groupby(dfr['gn']).describe(include='all')

      nm                                                ...     wt           \
   count unique top freq mean  std  min  25%  50%  75%  ... unique top freq
gn                                                      ...
F      4      4  Km    1  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN NaN  NaN
M      4      4  Jo    1  NaN  NaN  NaN  NaN  NaN  NaN  ...    NaN NaN  NaN


     mean       std   min    25%   50%    75%   max
gn
F   57.50  6.454972  50.0  53.75  57.5  61.25  65.0
M   71.25  4.787136  65.0  68.75  72.5  75.00  75.0

[2 rows x 44 columns]